*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
.main{
    position:relative;
    background: rgba(0, 0, 0, 0.507) url("./images/background.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    width:100%;
    flex-shrink: 0;
    z-index:-1;
    background-repeat:no-repeat;
    background-blend-mode:darken ;
    

}

nav{
  
}
nav #circlenum{
    padding:10px;
    margin-left: 10px;
    color:#FF5733;
    font-weight: 700;
}
nav #numcirlce{
    padding:10px;
    margin-left: 10px;
    color:#FF5733;
    font-weight: 700;
}




.navbar{
    display:flex;
    justify-content: space-between;
    background:rgba(0, 0, 0, 0.5)
}


.navbar li{
display:inline-block;
font-size:20px;
color:white;
margin-right:60px;
padding:8px;
margin-top: 5px;
margin-bottom: 5px;
border-radius: 10px;

}

.navbar ul li:nth-child(2){
    margin-left: 20px;
    background:#FF5733;
    
}


label {
    color:#fff;
    font-size: 17px;
    font-weight: 700;
}

.introtext{
    position:absolute;
    
    top:35%;
    width: auto;
    right:50%;
    
    
}
    
.identify{

    position:relative;
    text-align: center;
    font-size: 3.5em;
    left:35%;
    color:#f7f7f7;
    width: 400px;
    text-rendering: geometricPrecision;
    font-family: Arial, Helvetica, sans-serif;
   
} 



.mobile{
    position: relative;
    text-align: right;
    font-size: 2.5em;
    left:50%;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
 


}



#getstart{
    width: 200px;
    position:relative;
    font-size:30px;
    left: 60%;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
  
}

#getstart li{
 
 text-decoration: none;
 list-style-type: none;
 font-weight: 700;

 color: rgb(255, 255, 255);
 padding: 5px;
 background-color:#ff00dd;
 
 text-align: center;
 border-radius: 20px 5px 30px 10px;
}
    
#intro1 ul li{
    text-decoration: none;
    list-style-type: none;
}



.fill_container{
    display:flex;
    flex-direction: column 2;
    margin-bottom: 50px;
    justify-content:center;
    align-items: baseline;
    align-items: center;
    padding-bottom: 50px;
    justify-content: center;
    

}



/* .fill_container img{
    height: 400px;
    width: auto;
   

} */

.formworks{

}


.input_container{
   
}
.form1{
    border-radius:10px;
    background:#581845;
    padding: 20px;
    max-width:100% ; 
    /* margin-right: 40px; */
    /* margin-bottom:40px; */
    margin-top:50px;
    box-shadow: 5px 5px 10px 10px  rgba(254, 254, 242, 1);
}
.form1 .inputbox{
    width:100%;
    padding-left:10px;
    background-color: rgba(0, 0, 0, 0.5);
    border:none;
    height: 40px;
    border-radius: 7px;
    color: #fff;
}
/* place holder decor */

.form1 h2{
    width:100%;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color:#fff;


}
.name_details{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 100%;
   
}
.name_details label{
    color:#fff;
    padding-left:6px;
    padding-top:5px;
   
}

.email{
    width: 100%;
    padding-left: 4px;
    margin-bottom: 20px;
}

#email{

    width: 90%;
   
}
.universal{
    
    display: flex;
    margin-top:35px;
    height: 30px;
    margin-bottom: 20px;
}


.universal label{
    color:#fff;
    font-size: 17px;
    font-weight: 700;
}
#network{
    border-radius:5px; 
    border:none;
    background-color: rgba(0, 0, 0, 0.5);
    color:#fff;
    cursor:pointer;
    
}

.universal #universal{
    width:60%;
    margin-left:5px;
    border-radius:7px;
    padding-left:5px;
    border-top :none;
    border-left:none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    }
    
    .restricted{
        margin-top:10px;
        display:flex;
    }
    
    .restricted_label{
    
    
    }
    
    .restricted #restricted{
        width:60%;
        margin-left:5px;
        border-radius:7px;
        padding-left:5px;
        border-top :none;
        border-left:none;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
    }

/*  */

#mtnLogo {
    position: absolute;
   
    background: blue;
    margin-left: 20px;
    
}
#etiLogo{
    position: absolute;
    margin-left: 20px;


}
#gloLogo{
    position: absolute;
    margin-left: 20px;


}

#airLogo{
    position: absolute;
    margin-left: 20px;

}




.submitbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    
}

#check1{
    width:100%;
    font-size: 20px;
    margin-top: 10px;
    height:40px;
    background-color: black;
    border-radius: 10px;
    border:none;
    color:#fff;
    background: rgba(0, 0, 0, 0.5);
    cursor:pointer;
}
#check1:hover{
    transform:scale(105%, 115%);
    background: rgba(165, 85, 38, 0.795);
    transition:all 800ms;
}

/* /* .mtn, .airtel, .etisalat, .glo{
    margin-top:5px;
    padding:0 20px;
    color:#fff;
    font-size: 15px;
}
#mtn, #airtel, #etisalat, #glo{ 
    padding:7px;
    width:100%;
    height: 40px;
    border-radius: 7px;
    color:#fff;
    border-top:none;
    border-left: none;
    background-color: rgba(0, 0, 0, 0.5); */



.team_container{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-bottom: 100px;
}
#meet_team{
    text-align: center;
    font-weight: 700;
    color:rgb(0, 0, 0);
    margin-top: 40px;
    font-size: 50px;
    
    /* margin-bottom: 100px; */
    
}
.team{
    margin: 5px;
    display:block;
    width: 250px;
    height:300px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:rgb(255, 255, 255);
    background:rgba(0, 0, 0, 0.952);
    font-size: 20px;
    
}
.team h2{
    font-family: "Lucida Console", "Courier New", monospace;

}

.team_container .team  img{
    height:150px;
    width:100%;
}
footer{
    background:rgba(0, 0, 0, 1);
    color :white;
}